.terms-container {
    color: #fff;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 8px;
  }
  
  .terms-container h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .terms-container p, .terms-container ul {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .terms-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .terms-container h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .terms-container ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
  }
  